<mat-toolbar color="primary">
  <a mat-button routerLink=".">
    <mat-icon id="title-icon" class="large-icon">verified_user</mat-icon>
    <span>Bitparx</span>
  </a>
  <div class="nav-buttons">
    <a mat-button routerLink="dashboard">Dashboard</a>
    <a mat-button routerLink="orders">Portfolio</a>
    <a mat-button routerLink="orders">Order History</a>
    <a mat-button routerLink="account">Account</a>
  </div>
  <span class="example-spacer"></span>
  <a mat-button routerLink="account">
    <span>User Name</span>
    <mat-icon id="user-icon" class="large-icon">account_circle</mat-icon>
  </a>
</mat-toolbar>