<div class="all-container" fxLayout="column" fxLayoutGap="30px">

  <div class="top-container" fxFlex="60%" fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="50px" fxLayoutAlign="center start">

    <mat-tab-group class="market-selector mat-elevation-z1" fxFill fxLayout="column" fxFlex="30%" fxFlex.xs="40%">
      <mat-tab label="{{market}} Market" *ngFor="let market of markets">
        <mat-card mat-ripple *ngFor="let coin of coins" (click)="coinSelect(coin)" class="coin-card" fxLayout="column" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
            <mat-icon class="small-icon">monetization_on</mat-icon>
            <span>{{coin.name}}</span>
          </div>
          <div class="gray-text" fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="space-between center">
            <div fxLayout="column">
              <span>Buy @ {{coin.buy_price[market]}}</span>
              <span>Buy @ {{coin.sell_price[market]}}</span>
            </div>
            <div>
              {{coin.balance}} {{coin.name_code}}
            </div>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>

    <div fxLayout="column" fxLayoutGap="18px" fxFill fxFlex="70%" fxFlex.xs="60%">
      <div fxFlex fxLayout="row" fxLayoutGap="10%" fxLayoutAlign="center center" class="button-row">
        <button mat-raised-button color="accent">Buy {{selectedCoin.name}}</button>
        <button mat-raised-button color="accent">Sell {{selectedCoin.name}}</button>
      </div>
      <div class="mat-elevation-z1" fxFlex="90%">
        <app-chart [data]="data" [xAxisLabel]="'Date'" [yAxisLabel]="'Price'"></app-chart>
      </div>
    </div>

  </div>

  <mat-card class="bottom-container mat-elevation-z1" fxFlex="40%" fxLayout="column" fxLayoutAlign="center stretch">
    <div class="mat-title">Current Active Strategy Orders</div>
    <div class="strategy-list" fxFlex fxLayout="column">
      <div class="strategy-list-items mat-elevation-z1" *ngFor="let coin of coins" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-between center"
        fxLayoutGap="10px">
        <div fxLayout="column">
          <span>{{coin.name}}</span>
          <span>Bought 11@ 0.09 BTC</span>
          <span>Strategy - 3% profit OR 4% loss</span>
        </div>
        <div fxLayout="row" fxLayoutGap="50px">
          <button mat-raised-button color="primary">Sell Now</button>
          <button mat-raised-button color="accent">Cancel Strategy</button>
          <div></div>
        </div>
      </div>
    </div>
  </mat-card>
</div>