.all-container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  max-width: 1200px;
}

.market-selector {
  min-width: 100px;
  overflow-y: auto;
}

.small-icon {
  font-size: 24px;
  height: 24px;
  width: 24px;
}

.gray-text {
  color: #5f5f5f;
  font-size: small;
  margin-bottom: 0 !important; /* for ripple */
}

.coin-card {
  margin: 8px;
}

.coin-card:hover {
  background: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
